<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Training_Orders_Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Training_Orders_Engine.Properties.Settings.ConnStr"
            connectionString="Data Source=&quot;CYG155\SQLEXPRESS, 49170&quot;;Initial Catalog=&quot;Training Orders Engine Sandbox&quot;;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Training_Orders_Engine.Properties.Settings>
            <setting name="CustconnStr" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\siddharth.bhatnagar\Desktop\Customer</value>
            </setting>
            <setting name="OrderconnStr" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\siddharth.bhatnagar\Desktop\Orders</value>
            </setting>
            <setting name="OrderHconnStr" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\siddharth.bhatnagar\Desktop\OrderHistory</value>
            </setting>
            <setting name="ExProp" serializeAs="String">
                <value>Extended Properties='Excel 12.0;hdr=yes;'</value>
            </setting>
        </Training_Orders_Engine.Properties.Settings>
    </applicationSettings>
</configuration>